$light-color-primary: #404040; // https://irocore.com/aofuji/
$light-color-secondary: #2980b9; // https://irocore.com/fujimurasaki/
$light-color-focus: #5badf0; // https://irocore.com/aomurasaki/
$light-color-mute: #9ea1a3; // https://irocore.com/suzu-iro/
$light-color-font: #3f4551; // https://irocore.com/konnezu/
$light-color-divider: #e5e2e4; // https://irocore.com/komachinezu/
$light-color-bg: #f2f2f2; // https://irocore.com/shiro/
$light-color-codebg: #f6f8fa; // GitHub

$dark-color-primary: #e6e6e6; // https://irocore.com/aofuji/
$dark-color-secondary: #2980b9; // https://irocore.com/fujimurasaki/
$dark-color-focus: #5badf0; // https://irocore.com/shironezumi/
$dark-color-mute: #9ea1a3; // https://irocore.com/suzu-iro/
$dark-color-font: #c0c0c0; // https://irocore.com/gin-iro/
$dark-color-divider: #4d5158; // Discord
$dark-color-bg: #2f3136; // Discord
$dark-color-codebg: #414449; // GitHub
