{{ define "main" }}
{{ if eq .Type "posts" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
{{ if .Date }}
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}
{{ end }}
{{ end }}

<content> {{ .Content }} </content>

<!-- Giscus comments -->
<div class="giscus-wrapper" style="margin-top: 3em;">
<script src="https://giscus.app/client.js"
        data-repo="stevedsun/stevedsun.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyMDUzMTMxODU="
        data-category="Announcements"
        data-category-id="DIC_kwDODDzUoc4C93qa"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</div>

<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>

<!-- Place the TOC at the end to ensure the article content loads first. -->
{{ $tocEnabled := default .Site.Params.toc .Params.toc }}
{{ if $tocEnabled }}
<div class="toc">
{{ .TableOfContents }}
</div>
{{ end }}

{{ end }}
