img[alt$="%profile%"] {
    float: right !important;
    margin: 0.7rem;
    box-shadow: 0 0 10px #555;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0px #ece7e7;
    -moz-box-shadow: 0 0 0px #ece7e7;
    max-width: 30%;
}

img[alt$=">"] {
    float: right !important;
    margin: 0.7rem;
    /* this margin is totally up to you */
    box-shadow: 0 0 10px #555;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0px #ece7e7;
    -moz-box-shadow: 0 0 0px #ece7e7;
    max-width: 45%;
}

img[alt$="<"] {
    float: left !important;
    margin: 0.7rem;
    /* this margin is totally up to you */
    box-shadow: 0 0 10px #555;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0px #ece7e7;
    -moz-box-shadow: 0 0 0px #ece7e7;
    max-width: 45%;
}

img {
    display: block;
    float: none !important;
    margin: 0.7rem auto;
    box-shadow: 0 0 10px #555;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0px #ece7e7;
    -moz-box-shadow: 0 0 0px #ece7e7;
    /* whatever else styles you fancy here */
}

