{{ if ne .Site.Params.Footer.hideRSSAndEmail true }}
{{ if and ( ne .Site.Params.RSS.enableRSS false ) .Site.Params.Author.email }}
{{ i18n "subscribe_rss" }} <a href="/index.xml">RSS</a> {{ i18n "or_email" }} <a href="mailto:{{ .Site.Params.Author.email }}">。</a>
<br />
{{ end }}
{{ if and ( ne .Site.Params.RSS.enableRSS false ) (not .Site.Params.Author.email) }}
{{ i18n "subscribe_rss" }} <a href="/index.xml">RSS</a>。
<br />
{{ end }}
{{ if and ( ne .Site.Params.RSS.enableRSS true ) .Site.Params.Author.email }}
{{ i18n "contact_email" }} <a href="mailto:{{ .Site.Params.Author.email }}">。</a>
<br />
{{ end }}
{{ end }}

{{ if ne .Site.Params.Footer.hideMadeWithLine true }}{{ i18n "powered_by" }}
<br />
{{ end }}

{{ if ne .Site.Params.Footer.hideCopyright true }}
{{ i18n "copyright" }}
{{ end }}
{{ if ne .Site.Params.Footer.hideSitemap true }}
🗺️ <a href="/sitemap.xml">{{ i18n "sitemap" }}</a>。
{{ end }}
